@import 'mixins';

.node.node-small_teaser{
	img{width:100%; height:auto}
	.field-name-commerce-price{
		font-size: 18px;
		color: #3D8EB9;
		margin-bottom: 10px;
	}
	.commerce-add-to-cart{
		.form-submit{
			float: right;
		}
	}
}