@import 'mixins';

.node.node-featured{
	position: relative;
	header{
		position: absolute;
		left: 15px;
		top: 15px;
		max-width: 320px;
	}
	img{width:100%; height:auto}
	.field-name-commerce-price{
		font-size: 20px;
		color: #3D8EB9;
		margin-bottom: 10px;
	}
}