.panel-flexible .panels-flexible-row .panels-flexible-region{
	.inside{
		.panel-pane{
			padding: 0 10px;
		}

		&.panels-flexible-region-new-top_main-inside{
			.panel-pane{
				padding: 0;
				margin: 0 -15px 15px;
			}
		}
	}
	&.top-main{
		.inside{
			.panel-pane{
				padding: 0;
				margin: 0 -15px 15px;
			}
		}	
	}
}
@media (max-width: 767px){
	.panel-flexible .panels-flexible-row .panels-flexible-region{
		float: none; width: auto;
		.inside{
			.panel-pane{
				padding: 0 10px;
			}

			&.panels-flexible-region-new-top_main-inside{
				.panel-pane{padding: 0}
			}
		}
		&.top-main{
			inside{
				.panel-pane{padding: 0}
			}
		}
	}
}

.pane-commerce-cart-cart{
	&.affix{
		top: 30px;
	}
}