.view-id-product_displays{
	&.view-display-id-panel_pane_2{
		.views-row{
			border-top: 1px solid #D1D5D8;
			padding: 18px 0;
		}
	}
}

.view-id-featured_items{
	&.view-display-id-panel_pane_1{
		/* img{
			width: 100%;
			height: auto;
		} */
	}
}